<div class="frame_12">
	<div class="grid_12">
		<div class="wall cards_title">
			Recipe Card
		</div>
	</div>
	<div class="grid_12">
		<div id="cardsContainer" class="wall">
			<% include ../templates/card.ejs %>
		</div>
	</div>
</div>