<div class="frame_12">
	<div class="gameover_popup">

		<div class="grid_6">
			<div class="title wall">GAME OVER!</div>
			<div class="wall button_container">
				<button id="exit" class="button">Exit</button>
				<button id="play" class="button">Play Again</button>
			</div>
		</div>

	</div>

</div>