
<div class="frame_12">
	<div class="grid_4">
		<div id="logo">
			<a href="http://blueapron.com">
				<img src="http://media.blueapron.com/assets/logo/blue-apron-logo@2x-e88a5d59616ee9d85447839a90b8f9b0.png" />
			</a>
		</div>
	</div>
	<div class="grid_4 align_c">
		<div id="clock" class="wall pad_t">
			<img src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/clock_fu0h30.png" />
		</div>
		<div class="wall pad_t">
			Time Remaining: 
			<span class="emphasis" id="time">
				<span id="minutes">0</span>:<span id="seconds">00</span>
			</span>
		</div>
	</div>
	<div class="grid_4">
		<div class="wall floatRight pad_t">
			Points: <span class="emphasis" id="points">0</span>
		</div>
	</div>
</div>
