<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://res.cloudinary.com/diabemicz/raw/upload/v1450840874/grid_t43qdf.css" />
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/dragdrop.js"></script>
    <link rel="shortcut icon" href="https://www.blueapron.com/favicon.ico" />
    <title>Recipe Game</title>
  </head>

  <body>
    <div id="header">
      <% include partials/header.ejs %>
    </div>
    <div id="container">
      <div id="recipes">
        <% include partials/recipes.ejs %>
      </div>
      <div id="cards" style="display:none">
        <% include partials/cards.ejs %>
      </div>
    </div>
    <div id="loading">
      <% include partials/loading.ejs %>
    </div>
    <div id="gameOver" style="display:none">
      <% include partials/gameover.ejs %>
    </div>
  </body>

</html>
