<div class="wall recipe" style="display:none">
	<div class="grid_4">
		<div class="veggieLeaf" style="display:none">
			<img src="http://res.cloudinary.com/diabemicz/image/upload/v1450840875/veggie_tadrr8_lcajkw.png" />
		</div>
		<div class="check check_correct" style="display:none">
			<div class="check_background">
				<img class="check_img" src="http://res.cloudinary.com/diabemicz/image/upload/v1450840873/check_spbzkg_iwwsvg.png" />
			</div>
		</div>
		<div class="check check_wrong" style="display:none">
			<div class="check_background">
				<img class="check_img" src="http://res.cloudinary.com/diabemicz/image/upload/v1450840876/x_lqoxae_rhlx59.png" />
			</div>
		</div>
		<img class="recipeImg" />
	</div>
	<div class="wall drop_zone"></div>
</div>
