<div class="wall recipe" style="display:none">
	<div class="grid_4">
		<div class="veggieLeaf" style="display:none">
			<img src="/images/veggie.png" />
		</div>
		<div class="check check_correct" style="display:none">
			<div class="check_background">
				<img class="check_img" src="/images/check.png" />
			</div>
		</div>
		<div class="check check_wrong" style="display:none">
			<div class="check_background">
				<img class="check_img" src="/images/x.png" />
			</div>
		</div>
		<img class="recipeImg" />
	</div>
	<div class="wall drop_zone"></div>
</div>