<div class="wall recipe" style="display:none">
	<div class="grid_4">
		<div class="veggieLeaf" style="display:none">
			<img src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/veggie_tadrr8.png" />
		</div>
		<div class="check check_correct" style="display:none">
			<div class="check_background">
				<img class="check_img" src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/check_spbzkg.png" />
			</div>
		</div>
		<div class="check check_wrong" style="display:none">
			<div class="check_background">
				<img class="check_img" src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/x_lqoxae.png" />
			</div>
		</div>
		<img class="recipeImg" />
	</div>
	<div class="wall drop_zone"></div>
</div>