<div class="wall recipe" style="display:none">
	<div class="grid_4">
		<div class="veggieLeaf" style="display:none">
			<img src="/images/veggie.png" />
		</div>
		<img class="recipeImg" />
	</div>
</div>